.histoire-banner {
    background-image: url("/assets/images/orleans-bg.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(70%);
    position: relative;
    top: -85px;


    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       color: $white;
        background-color: #b5a78077;

    }
}